	

      <form action="action_page.php" method="post">
    
        <div class="container">
            <label for="fname"><b>FirstName</b></label>
            <input type="text" placeholder="Enter FirstName" name="fname" required>

            <label for="lname"><b>LastName</b></label>
            <input type="text" placeholder="Enter LastName" name="lName" required>

            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Email Address" name="uname" required>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="cpsw"><b>Password</b></label>
            <input type="password" placeholder="Confirm Password" name="psw" required>
      
            <button type="submit">Create Account</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        </div>
      </form>
  