.icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }
.label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
  }

