<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Enframe</h1>
      <span class="menu-spacer"></span>
      <div>
        <!-- TODO: If user isn't logged in, show Sign-In/ Create Account from the menu bar-->
        <a mat-button [routerLink]="'/home'"> 
          <mat-icon class="icon">home</mat-icon>
          <span  class="label">Home</span>
          </a>
        <a mat-button [routerLink]="'/login'"> 
          <mat-icon class="icon">input</mat-icon>
          <span  class="label">Sign In</span>
          </a>
        <a mat-button [routerLink]="'/create-account'"> 
          <mat-icon class="icon">dashboard</mat-icon>
          <span  class="label">Create Account</span>
          </a>
  
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span style="font-size: 12px;">EnFrame helps you easily find the images you are looking for. (Or some other slogan)</span>
      </mat-toolbar-row>
  </mat-toolbar>
  
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav >
      <mat-nav-list>
  
        <a mat-list-item  (click)="sidenav.toggle()" (click)=isLoggedIn() > 
          <mat-icon class="icon"> dashboard</mat-icon>
          Profile</a>
          
          <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/upload'" >
            <mat-icon class="icon" >publish</mat-icon>
            Upload
          </a>
        <a mat-list-item (click)="sidenav.toggle()" (click)=logOut() [routerLink]="'/'"> 
          <mat-icon class="icon">input </mat-icon>
          Sign Out </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  