Users:
<table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
  <tbody>
    <tr *ngFor="let user of users">
      <td><button (click)=deleteUser(user.email)>Delete</button></td>
      <th scope="row">{{user.email}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
    </tr>
  </tbody>
</table>
Images:
<table mdbTable mdbTableScroll scrollY="true" maxHeight="300" bordered="true">
  <tbody>
    <tr *ngFor="let photo of photos">
      <td><button (click)=deletePhoto(u)>Delete</button></td>

      <th scope="row"><img src="https://test-bucket438.s3-us-west-1.amazonaws.com/{{photo.reference}}" width="50px"></th>

      <td>{{photo.userWhoUploaded}}</td>
    </tr>
  </tbody>
</table>
    