
<div id="fullname">Profile</div>

<h1> My Favorites </h1>

<div class="gallery">
    <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
    <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
        <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
        <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
        <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
        <img src="assets/placeholder.jpg" width="200" height="200">
<div class="desc">Add a description of the image here</div>
</div>

<br/> <br/> <br/><br/> <br/> <br/>

<p id="upload"><input type="button" class="uploadButton" value="Logout"></p>


<br/> <br/>
