<!-- 
    TODO:

    1.) Create a search bar (Done)

    2.) List all available images in a grid.

    3.) Create an image grid

    4.) List random images from database in a grid.

    5.) Filter search from database
-->
<br>
<div id="search-icon">
     <mat-search-bar></mat-search-bar>
</div>

<div id="search-field">
<form class="search-form">
    <mat-form-field class="search-full-width">
        <input #searchWord (change)=searchImage(searchWord.value) matInput placeholder="Image Search" value=" ">

    </mat-form-field>
</form>
</div>
<br> <br>
<br>
<div id="grid">
        <mat-grid-list *ngFor="let photo of photos" cols="3" rowHeight="3:2">

                <mat-grid-tile><img src="https://s3.console.aws.amazon.com/s3/buckets/test-bucket438/{{photo.reference}}"></mat-grid-tile>
                <!-- <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
                <mat-grid-tile>5</mat-grid-tile>
                <mat-grid-tile>6</mat-grid-tile>
                <mat-grid-tile>7</mat-grid-tile>
                <mat-grid-tile>8</mat-grid-tile>
                <mat-grid-tile>9</mat-grid-tile> -->

        </mat-grid-list>
</div>





