  .search-full-width {
    width: 100%;
  }

  #search-icon {
      float:left;
  }

  #search-field {
    float:left;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  #images {
      float:center;
  }

  mat-grid-tile {
    background: lightblue;
  }

  #imageGrid {
    float:right;
  }